.mobile-tabbed-nav {
    position: sticky;
    top: 0;
    background-color: var(--tabbed-bg);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 8px;
    overflow-x: auto;
    border-bottom: 1px solid var(--tabbed-border);
    z-index: 2;
    
  }
  
  .mobile-underlined-nav-body {
    display: flex;
    width: 100%;
  }
  

  .mobile-underlined-nav {
    padding: 8px 16px;
    font-size: 14px;
    color: var(--tabbed-link);
    line-height: 30px;
    text-align: center;
    white-space: nowrap;
    background-color: initial;
    border: 0;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    cursor: pointer;
    transition: border-bottom-color 0.36s ease-in;
  }
  
  .mobile-underlined-nav.selected,
  .mobile-underlined-nav.selected:hover {
    font-weight: 600;
    color: var(--tabbed-selected-link);
    border-bottom-color: #f9826c;
    outline: 1px dotted transparent;
    outline-offset: -1px;
  }
  
  .mobile-underlined-nav.selected > svg {
    fill: currentColor;
  }
  
  .mobile-underlined-nav:focus,
  .mobile-underlined-nav:hover {
    color: var(--tabbed-hover-text);
    text-decoration: none;
    border-bottom-color: var(--tabbed-hover-border);
    outline: 1px dotted transparent;
  }
  
  .mobile-underlined-nav .counter {
    margin-left: 4px;
    color: var(--tabbed-counter-text);
    display: inline-block;
    min-width: 20px;
    padding: 0 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 2em;
    background-color: var(--tabbed-counter-bg);
  }
  
  .mobile-underlined-nav > svg {
    margin-right: 8px;
    fill: #959da5;
    vertical-align: text-bottom;
    display: inline-block;
  }

  @media (min-width: 788px) {
    .mobile-tabbed-nav {
        display: none;
    }
  }
  
  
  @media only screen and (max-width: 788px) {
    .mobile-tabbed-nav {
      padding: 0;
    }
 
  }
  
  @media only screen and (max-width: 544px) {
    .mobile-underlined-nav > svg {
      display: none;
    }
  }
  