.tabbed-nav {
  position: sticky;
  top: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 8px;
  overflow-x: auto;
  border-bottom: 1px solid #e1e4e8;
}

.underlined-nav-body {
  display: flex;
}

.underlined-nav {
  padding: 8px 16px;
  font-size: 14px;
  line-height: 30px;
  color: var(--color-text-primary);
  text-align: center;
  white-space: nowrap;
  background-color: initial;
  border: 0;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  cursor: pointer;
  transition: border-bottom-color 0.36s ease-in;
}

.underlined-nav.selected,
.underlined-nav.selected:hover {
  font-weight: 600;
  color: var(--color-text-primary);
  border-bottom-color: #f9826c;
  outline: 1px dotted transparent;
  outline-offset: -1px;
}

.underlined-nav.selected > svg {
  fill: currentColor;
}

.underlined-nav:focus,
.underlined-nav:hover {
  color: var(--color-text-primary);
  text-decoration: none;
  border-bottom-color: #d1d5da;
  outline: 1px dotted transparent;
}

.underlined-nav .counter {
  margin-left: 4px;
  color: var(--color-text-primary);
  display: inline-block;
  min-width: 20px;
  padding: 0 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 2em;
  background-color: rgba(209, 213, 218, 0.5);
}

.underlined-nav > svg {
  margin-right: 4px;
  fill: #959da5;
  vertical-align: text-bottom;
  display: inline-block;
}

@media only screen and (max-width: 788px) {
  .tabbed-nav {
    padding: 0;
  }
}

@media only screen and (max-width: 544px) {
  .underlined-nav > svg {
    display: none;
  }
}
