.tabbed-nav {
  position: sticky;
  top: 0;
  margin-top: 24px;
  background-color: var(--tabbed-bg);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 8px;
  overflow-x: auto;
  border-bottom: 1px solid var(--tabbed-border);
  z-index: 2;
  
}

.underlined-nav-body {
  display: flex;
  width: 100%;
}

.tabbed-profile-image {
  padding: 8px 16px;
  font-size: 14px;
  display: flex;
  align-items: center;
  width: 29%;
  transition: .4s ease;
  opacity: 0;
}

.tabbed-profile-image.stuck{
  opacity: 1
}

.avatar-user-fixed {
  margin-left: 50px;
  border-radius: 50%;
}

.avatar-username {
  display: table-cell;
  line-height: 1.25;
  vertical-align: middle;
  transition: 0.2s ease;
  margin-left: 8px;
  color: var(--tabbed-avatar-text);
}

.avatar-username strong {
  font-weight: 600;
}

.underlined-nav {
  padding: 8px 16px;
  font-size: 14px;
  color: var(--tabbed-link);
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
  background-color: initial;
  border: 0;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  cursor: pointer;
  transition: border-bottom-color 0.36s ease-in;
}

.underlined-nav.selected,
.underlined-nav.selected:hover {
  font-weight: 600;
  color: var(--tabbed-selected-link);
  border-bottom-color: #f9826c;
  outline: 1px dotted transparent;
  outline-offset: -1px;
}

.underlined-nav.selected > svg {
  fill: currentColor;
}

.underlined-nav:focus,
.underlined-nav:hover {
  color: var(--tabbed-hover-text);
  text-decoration: none;
  border-bottom-color: var(--tabbed-hover-border);
  outline: 1px dotted transparent;
}

.underlined-nav .counter {
  margin-left: 4px;
  color: var(--tabbed-counter-text);
  display: inline-block;
  min-width: 20px;
  padding: 0 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 2em;
  background-color:var(--tabbed-counter-bg);
}

.underlined-nav > svg {
  margin-right: 8px;
  fill: #959da5;
  vertical-align: text-bottom;
  display: inline-block;
}

@media (max-width: 1300px) {
  .avatar-user-fixed {
    margin-left: 16px;
  }
}

@media only screen and (max-width: 788px) {
  .tabbed-nav {
    padding: 0;
    display: none;
  }
  
  .tabbed-profile-image {
    display: none;
  }
}

@media only screen and (max-width: 544px) {
  .underlined-nav > svg {
    display: none;
  }
}
