.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    padding: 10px;
}

.login__logo {
    display: inline-block;
    fill: #586069;
}

.login__header {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -.5px;
    margin: .67em 0;
}

.login__btn {
    display: block;
    text-align: center;
    background-color: #2ea44f;
    border-color: rgba(27, 31, 35, 0.15);
    box-shadow: 0 1px 0 rgba(27, 31, 35, 0.1), inset 0 1px 0 hsla(0, 0, 100%, 0.03);
    padding: 5px 16px;
    width: 250px;
    max-width: 100%;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    border: 1px solid;
    border-radius: 6px;
    white-space: nowrap;
    outline-width: 0;
    cursor: pointer;
    margin-top: 20px;
}

.login__btn:hover {
    background-color: #2c974b;
}

.login__btn:active {
    background-color: #2a8f47;
    box-shadow: 0 1px 0 rgba(20, 70, 32, 0.2);
}

@media only screen and (max-width: 576px) {
    .login__header {
        font-size: 20px;
    }
}