.footer {
  padding-right: 40px;
  padding-left: 40px;
  width: 100%;
  font-size: 12px;
  padding-top: 40px;
  padding-bottom: 48px;
  margin-top: 40px;
  color: var(--overview-text-secondary);
}

.footer-link svg {
  vertical-align: text-bottom;
  fill: var(--footer-svg);
  display: inline-block;
}

.footer-list {
  display: flex;
  list-style: none;
  margin-bottom: 8px;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0;
  margin-top: 0;
}

.footer-list-item {
  margin-right: 16px;
  color: var(--overview-text-secondary);
  font-size: 12px;
}

.footer-list-item div {
  color: var(--overview-hover-text);
  text-decoration: none;
  cursor: pointer;
}

.footer-list-item div:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1012px) {
  .footer-link {
    display: none;
  }
}

@media only screen and (max-width: 544px) {
  .footer {
    padding-right: 16px;
    padding-left: 16px;
  }
}
